@import '../../styles/_colors';
@import '../../styles/_spacing';
@import '../../styles/_flex';
@import '../../styles/_mixins';



.next-stop {
  @include flexcolumn;
  @include flexcenter;
  background: $highlight;
}

.next-stop-button{
  @include flexcolumn;
  @include flexcenter;
  padding: .5rem;
  margin: .5rem;
  border: 1px solid $primary;
  border-radius: 3px;
  background: $light;
  box-shadow: 1px 1px 1px #888;
}

.next-title {
  @include flexrow;
  @include flexcenter;
  color: $primary;
  font-size: .8em;
  font-weight: bold;
}
.next-address {
  @include flexrow;
  @include flexcenter;
  font-size: .8em;
  font-weight: bold;
  margin-top: .4rem;
  color: $deep;
 
}
.maneuver-container {
  @include flexcolumn;
  justify-content: flex-start;
  align-items: stretch;
  overflow-y: scroll;
  background: $highlight;
}

.maneuver-title {
  font-size: .9em;
  color: $light;
  background: $primary;
  height: 2em;
  @include flexrow;
  @include flexcenter;
}

.maneuver {
  list-style-type: none;
  font-size: .8em;
  margin-right: .5rem;
  margin-left: .5rem;
  padding: .5em;
  border-bottom: 1px solid $primary;
}








