@import '../../styles/_flipper';
@import '../../styles/_mixins';
@import '../../styles/_flex';
@import '../../styles/_colors';
@import '../../styles/_spacing';

//--WALKING MAP ----
#walkingmap {
  position: relative;
  top: 0;
  left: 0;
}


.stop-btns {
  border-top: 3px solid rgba(3,3,3,.2);
  background: $light;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
}

.btn-sm {
  @include button;
  background: $accent;
  color: $light;
  flex-basis: 20%;
  font-weight: normal;
  font-size: .8em;
  height: 2em;
}

.disabled {
  background: rgba($accent, .5);
}
.dir-btn {
 background: $highlight;
 color: $deep;
 flex-basis: 23%;
}


.toppage {
  color: $light;
  background: $light;
  margin-bottom: 1rem;
  padding: 0;
}