@import '../../styles/_colors';
@import '../../styles/_spacing';

//same as page but already positioned & put pic behind page
.HOME {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100%  - 0.1px); //elimates iOS bounce
  z-index: 0;
  overflow-y: hidden;
  cursor: pointer;
  background: url('/images/moccasins.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom center;
  background-size: cover; // this makes img full-screen (full-width & full-height)
  overflow: hidden;
}

.main-menu {
  max-height: 50vh;
  overflow-y: hidden;
  margin: 0;
  padding: 0;
  z-index: 20;
  max-width: 500px;
  overflow-x: hidden;
}

.main-menu li {
  list-style: none;
  line-height: $pagebar_height_sm;
  height:  $pagebar_height_sm;
  min-width: 500px;
  margin: 0 3px 3px 3px;
  border-radius: 3px;
  background-color: rgba($light, .3);
}
.main-menu li:hover {
  background: rgba($light, .4)
}

// text in link
nav li a {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $dark;
  padding-left: 10px;
}
nav li a:link, a:visited {
    color: $dark;
    text-decoration: none;
    cursor: auto;
}

// > icon in link
nav li a img {
  height: 1.2em;
  // opacity: .4;
  transform: translate3d(-2px,0,0);  //move left
}


@media all and (min-width: 668px) {
  .CONTENT {
    margin-top: $pagebar_height_md;
  }

  .main-menu li {
    font-size: 1.3em;
    list-style: none;
    line-height: $pagebar_height_md;
    height:  $pagebar_height_md;

    margin: 0 3px 3px 3px;
    border-radius: 3px;
    background-color: rgba($light, .3);
  }
}
