@import '../../styles/_colors';
@import '../../styles/_spacing';
@import '../../styles/_layout';
@import '../../styles/_flex';

//child of COLUMN-1 (flexrowwrap)
.main-menu {
  margin-top: 1.5rem;
  @include flexchild-1;
  background: transparent;
  max-width: 600px;
  overflow-y: auto;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.main-menu li {
  list-style: none;
  line-height: $pagebar_height_sm;
  height:  $pagebar_height_sm;
  min-width: 100%;
  border-radius: 3px;
  background-color: rgba($light, .3);
}
.main-menu li:hover {
  background: rgba($light, .4)
}

// text in link
nav li span {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $dark;
  padding-left: 10px;
  text-decoration: none;
  margin-bottom: 3px;
}


// > icon in link
nav li span img {
  height: 1.2em;
  opacity: .4;
  transform: translate3d(-2px,0,0);  //move left
}


@media all and (min-width: 769px) {
  .HOME .main-menu {
    overflow-y: auto;
    top: 0;
  }

  .main-menu li {
    font-size: 1.3em;
    line-height: $pagebar_height_md;
    height:  $pagebar_height_md;
    margin: 0 3px 3px 3px;
  }
}
