@import '../../styles/_colors';
@import '../../styles/_spacing';
@import '../../styles/_layout';


.main-menu {
  min-height: 60vh;
  max-width: 500px;
  overflow-y: hidden;
  margin: 0;
  padding: 0;
  z-index: 20;
  width: 100%;
  overflow-x: hidden;
}

.main-menu li {
  list-style: none;
  line-height: $pagebar_height_sm;
  height:  $pagebar_height_sm;
  min-width: 100%;
  border-radius: 3px;
  background-color: rgba($light, .3);
}
.main-menu li:hover {
  background: rgba($light, .4)
}

// text in link
nav li span {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $dark;
  padding-left: 10px;
  text-decoration: none;
  margin-bottom: 3px;
}


// > icon in link
nav li span img {
  height: 1.2em;
  opacity: .4;
  transform: translate3d(-2px,0,0);  //move left
}


@media all and (min-width: 668px) {
  .HOME .textbox {
    max-height: 60vh;
    overflow-y: auto;
  }

  .main-menu li {
    font-size: 1.3em;
    list-style: none;
    line-height: $pagebar_height_md;
    height:  $pagebar_height_md;

    margin: 0 3px 3px 3px;
    border-radius: 3px;
    background-color: rgba($light, .3);
  }
}
