@import '../../styles/_colors';

.details-content {
  padding-left: 1rem !important;
  padding-right: 1rem !important;
  padding-bottom: 2rem !important;
}

#walk-title {
   padding-top: 1rem;
   margin-bottom: 1rem;
}


hr.accent {
  border-top: 2px solid $accent;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

hr.primary {
  border-top: 2px solid $primary;
  border-color: $primary;
  margin-top: 1rem;
  margin-bottom: 1rem;
}