// app-wide styles
@import '../../styles/_colors';
@import '../../styles/_spacing';
@import '../../styles/_typography';
@import '../../styles/_forms';

div#preload{ display: none;}



* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; 
  }

html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Lato', 'Verdana', 'Helvetica',  sans-serif;
  font-weight: 400;
  font-size: .95em;
  font-display: optional;
  color: $light;
  background-color: #ddd;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

html {
  overflow: hidden; }

body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-align-content: stretch;
      -ms-flex-line-pack: stretch;
          align-content: stretch;
  background: $light; }

.APP {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.PAGE {
  position: absolute;
  top: 0;
  left: 0; 
  width: 100%;
  height: calc(100%  - 0.1px); //elimates iOS bounce
  overflow: hidden;
  cursor: pointer;
  background-color: $light;
  opacity: 1;
  z-index: 1000;
}

.CONTENT {
  position: absolute;
  top: $pagebar_height_sm;
  height: calc(100%  - #{$pagebar_height_sm}); //elimates iOS bounce
  width: 100%;
  overflow-y: auto;
  color: $dark;
}

@media all and (min-width: 668px) {
  .CONTENT {
    top: $pagebar_height_md;
    height: calc(100%  - #{$pagebar_height_md}); //elimates iOS bounce
  }

}