

.leaflet-container {
  width: 100vw;
  max-height: 88vh;
}

//----------WALKS -----------
.map-container {
  top: 0;
  height: 88vh;
  width: 100vw;
}

.leaflet-div-icon .walk-icon  {
  background: green;
}

.custom .leaflet-popup-tip,
.custom .leaflet-popup-content-wrapper {
    background: white;
    color: black;
    font-weight: bold;
}

.popuplink {
  text-decoration: none;
}

//-----------SNAKE MAP ---
#snakemap {
  height: 50%;
}


//-----STOP MAP  -------
// .leaflet-div-icon {
//   background: transparent;
//   border: none;
// }

// .leaflet-marker-icon .number{
//   position: relative;
//   top: -37px;
//   font-size: 12px;
//   width: 25px;
//   text-align: center;
// }

// .number-icon {
//   background-image: url("https://cdn.rawgit.com/pointhi/leaflet-color-markers/master/img/marker-icon-green.png");
//   text-align: center;
//   color: black;
// }