@import '../../styles/_spacing';



.leaflet-container {
  width: 100vw;
  max-height: 88vh;
}

//search map
#map, .map-container {
  top: 0;
  height: 88vh;
  width: 100vw;
}

.leaflet-div-icon .walk-icon  {
  background: green;
}

.custom .leaflet-popup-tip,
.custom .leaflet-popup-content-wrapper {
    background: white;
    color: black;
    font-weight: bold;
}

.popuplink {
  text-decoration: none;
}

//-----------SNAKE MAP --->
#snakemap {
  height: 50%;
}