@import '../../styles/_layout';
@import '../../styles/_spacing';


//----------WALKS -----------
.map-container {
  top: 0;
  height: 100%;
  width: 100%;
}

.leaflet-div-icon .walk-icon  {
  background: green;
}

.custom .leaflet-popup-tip,
.custom .leaflet-popup-content-wrapper {
    background: white;
    color: black;
    font-weight: bold;
}

.popuplink {
  text-decoration: none;
}





//-----STOP MAP  -------
// .leaflet-div-icon {
//   background: transparent;
//   border: none;
// }

// .leaflet-marker-icon .number{
//   position: relative;
//   top: -37px;
//   font-size: 12px;
//   width: 25px;
//   text-align: center;
// }

// .number-icon {
//   background-image: url("https://cdn.rawgit.com/pointhi/leaflet-color-markers/master/img/marker-icon-green.png");
//   text-align: center;
//   color: black;
// }