@mixin flex {
  display: flexbox;
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
}

@mixin flexrow {
  @include flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  flex-direction: row;
}

@mixin flexcolumn {
  @include flex;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  flex-direction: column;
}

@mixin flexrowwrap {
  @include flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
}

@mixin flexcenter {
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-align-content: center;
  align-content: center;
  text-align: center;
}



@mixin justifycenter {
  -webkit-justify-content: center;
  justify-content: center;
}

//keep even with siblings will be full width)
@mixin flexchild-1 {
  -webkit-flex: 1 0 100%;
  flex: 1 0 100%;
}

//at breakpoint make half
@mixin flexchild-half {
 -webkit-flex: 1 0 49%;
  flex: 1 0 49%;
  max-width: 49vw;
}
