@import './_spacing.scss';
@import './_colors.scss';

.APP {
  position: relative;
  height: 100vh;
  z-index: 0;
}




//this contains PageBar and Content
.PAGE {
  height: 100vh;
  overflow-y: auto;
  position: relative;
  z-index: 5;
  overflow: hidden;
}
//added on home just for image
.HOME {
  height: 100%;
  overflow-y: hidden;
  position: relative;
  z-index: 5;
  width: 100%;
  background: url('/images/moccasins.jpg') !important;
  background-repeat: no-repeat !important;
  background-attachment: fixed !important;
  background-position: bottom center !important;
  background-size: cover !important; // this makes img full-screen (full-width & full-height)
}

    // .PAGEBAR {
    //   background: green;
    //   width: 100%;
    //   position: absolute;
    //   top: 0;
    //   left: 0;
    //   height: $pagebar_height_sm; //2em
    //   z-index: 10;
    // }

    .CONTENT {
      position: relative;
      top: $pagebar_height_sm;
      left: 0;
      width: 100vw;
      height: $content_height_sm;
      overflow-y: auto;
      z-index: 10;

      //flex
      display: -webkit-flex;
      display: flex;
      //row
      -webkit-flex-flow: row wrap;
      flex-flow: row wrap;

      //horiz align
      -webkit-justify-content: space-around;
      justify-content: space-around;

      //vert align
      -webkit-align-items: flex-start;
      align-items: flex-start;

      -webkit-align-content: flex-start;
      align-content: flex-start;
    }



        //child of content --will wrap on small screens
        .COLUMN {
          position: relative;
          max-width: 600px;
          min-width: 300px;
          flex: 1 0 60%;
          z-index: 20;
          background: transparent;
          display: flex;
          justify-content: center;
        }




@media all and (min-width: 668px) {

  .PAGEBAR {
      height: $pagebar_height_md; //2em
  }

  .CONTENT {
    top: $pagebar_height_md;
    left: 0;
    width: 100vw;
  }
  .COLUMN {
    max-width: 600px;
    flex: 1 0 50%;
    min-height: $content_height_md;
    z-index: 20;
    background: transparent;
  }

}
