@import './_spacing.scss';

html,
body {
  position: fixed;
  overflow: hidden;
}


.APP {
  width: 100vw;
  height: 100vh;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
} 



//this contains PageBar and Content
//will scroll if extends beyond screen
//height set responsively
.HOME, .PAGE {
  position: relative; //parent of pagebar & content
  height: 100%;
  height: 100vh;
  width: 100%;
  width: 100vw;
  overflow-y: hidden;  //shouldn't 
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

// -- has image
.HOME {
  background: url('/images/moccasins.jpg') !important;
  background-repeat: no-repeat !important;
  background-attachment: fixed !important;
  background-position: bottom center !important;
  background-size: cover !important; // this makes img full-screen (full-width & full-height)
}

   
//below the pagebar
//absolute to the page
//full height and width
//is flex parent (row wrap)
    .CONTENT {
      position: absolute; //to page
      height: $content_height_sm;
      top: $pagebar_height_sm;
      left: 0;
      width: 100vw;
      overflow-y: auto; 
      -webkit-overflow-scrolling: touch;

      //flex
      display: -webkit-flex;
      display: flex;
      //row
      -webkit-flex-flow: row wrap;
      flex-flow: row wrap;

      //horiz align
      -webkit-justify-content: center;
      justify-content: center;

      //vert align
      -webkit-align-items: stretch;
      align-items: stretch;

      -webkit-align-content: stretch;
      align-content: stretch;
    }

        //child of content
        //each column is 1 flex unit
        //children will be centered on screen
        .COLUMN-1 {
          flex: 1;
          flex-basis: 100%;
          overflow-x: hidden;

          //as parent
          display: -webkit-flex;
          display: flex;
          flex-direction: row;
          justify-content: space-around;
        }

         //form has lots of padding on sides for readability
        .FORM {
          flex: 1;
          max-width: 500px;
          height: 100vh;
          overflow-y: auto;

          padding-left: 2rem;
          padding-right: 2rem;
        }

         //list is full width across
        .LIST {
          flex: 1;
          padding-left: 1rem;
          padding-right: 1rem;
          max-width: 500px;
          min-height: 90%;
          width: 100%;
        }


@media all and (min-width: 668px) {
  .CONTENT {
      top: $pagebar_height_md;
      min-height: $content_height_md;
  }


}

