$pagebar_height_sm: 2.5em;
$pagebar_height_md: 3.5em;


.center-children {
  display: flex;
  justify-content: center;
}

.left-children {
  display: flex;
  justify-content: flex-start;
}

.even-children {
  display: flex;
  justify-content: space-around;
}

.space-between-children {
  display: flex;
  justify-content: space-between;
}

.vertical-center {
  align-items: center;
}

.INNERPAGE {
  max-width: 600px;
  display: flex;
  flex-direction: column;
}