$pagebar_height_sm: 2.5em;
$pagebar_height_md: 3.5em;
$content_height_sm: calc(100vh  - #{$pagebar_height_sm});
$content_height_md: calc(100vh - #{$pagebar_height_md});


$drawer_closed: 2rem;
$drawer_closed_top: calc(100vh - #{$drawer_closed});
$drawer_open: 200px;
$drawer_open_top: calc(100vh - #{$drawer_open});
$drawer_open_content: calc(#{$drawer_open} - #{$drawer_closed});

.center-children {
  display: flex;
  justify-content: center;
}

.left-children {
  display: flex;
  justify-content: flex-start;
}

.even-children {
  display: flex;
  justify-content: space-around;
}

.space-between-children {
  display: flex;
  justify-content: space-between;
}

.vertical-center {
  align-items: center;
}

.textbox {
  white-space: pre-wrap;
  padding-left: 1rem !important;
  padding-right: 1rem !important;
  padding-top: 1rem;
  padding-bottom: 2rem !important;
  min-width: 300px;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.textbox p {
  margin-top: .75em;
  line-height: 1.5;
  margin-bottom: .75em;
}

.header {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

