hr.accent {
  border-top: 2px solid #fd8258; }

hr.primary {
  border-top: 2px solid #5C821A; }

.center-children {
  display: flex;
  justify-content: center; }

.left-children {
  display: flex;
  justify-content: flex-start; }

.even-children {
  display: flex;
  justify-content: space-around; }

.space-between-children {
  display: flex;
  justify-content: space-between; }

.vertical-center {
  align-items: center; }

.INNERPAGE {
  white-space: pre-wrap;
  margin-left: 1rem !important;
  margin-right: 1rem !important;
  margin-top: 1rem;
  margin-bottom: 2rem !important;
  min-width: 300px;
  max-width: 600px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; }

.header {
  align-items: center; }

.header > h4 {
  line-height: 2rem; }
