hr.accent {
  border-top: 2px solid #fd8258; }

hr.primary {
  border-top: 2px solid #5C821A; }

.CONTENT {
  color: #0F1B07; }

a, a:link {
  color: #fd8258; }

h1, h2, h3, h4, h5, h6 {
  color: #5C821A; }

.center-children {
  display: flex;
  justify-content: center; }

.left-children {
  display: flex;
  justify-content: flex-start; }

.even-children {
  display: flex;
  justify-content: space-around; }

.space-between-children {
  display: flex;
  justify-content: space-between; }

.vertical-center {
  align-items: center; }

.textbox {
  white-space: pre-wrap;
  padding-left: 1rem !important;
  padding-right: 1rem !important;
  padding-top: 1rem;
  padding-bottom: 2rem !important;
  min-width: 300px;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; }

.textbox p {
  margin-top: .75em;
  line-height: 1.5;
  margin-bottom: .75em; }

.header {
  margin-top: 1rem;
  margin-bottom: 1rem; }
