.center-children {
  display: flex;
  justify-content: center; }

.left-children {
  display: flex;
  justify-content: flex-start; }

.leaflet-container {
  width: 100vw;
  max-height: 88vh; }

#map, .map-container {
  top: 0;
  height: 88vh;
  width: 100vw; }

.leaflet-div-icon .walk-icon {
  background: green; }

.custom .leaflet-popup-tip,
.custom .leaflet-popup-content-wrapper {
  background: white;
  color: black;
  font-weight: bold; }

.popuplink {
  text-decoration: none; }

#snakemap {
  height: 50%; }
hr.accent {
  border-top: 2px solid #fd8258; }

hr.primary {
  border-top: 2px solid #5C821A; }

.details-content {
  padding-left: 1rem !important;
  padding-right: 1rem !important;
  padding-bottom: 2rem !important; }

#walk-title {
  padding-top: 1rem;
  margin-bottom: 1rem; }

hr.accent {
  border-top: 2px solid #fd8258;
  margin-top: 1rem;
  margin-bottom: 1rem; }

hr.primary {
  border-top: 2px solid #5C821A;
  border-color: #5C821A;
  margin-top: 1rem;
  margin-bottom: 1rem; }
