hr.accent {
  border-top: 2px solid #fd8258; }

hr.primary {
  border-top: 2px solid #5C821A; }

.center-children {
  display: flex;
  justify-content: center; }

.left-children {
  display: flex;
  justify-content: flex-start; }

.even-children {
  display: flex;
  justify-content: space-around; }

.space-between-children {
  display: flex;
  justify-content: space-between; }

.vertical-center {
  align-items: center; }

.INNERPAGE {
  max-width: 600px;
  display: flex;
  flex-direction: column; }

.PageBar {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #5C821A;
  height: 2.5em;
  width: 100%;
  box-shadow: 1px 1px 1px #888;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 5px;
  padding-right: 3px;
  z-index: 9000;
  color: #ffffff; }

.PageBar .title {
  flex: 1 0 70%;
  text-align: center; }

.PageBar .left, .PageBar .right {
  flex: 1 0 15%;
  height: 2.5em; }

.PageBar .right {
  font-size: .85em;
  padding-right: 3px;
  display: flex;
  align-items: center;
  justify-content: flex-end; }

.PageBar .left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 2px; }

.PageBar img {
  max-height: 1.6em; }

@media all and (min-width: 668px) {
  .PageBar {
    height: 3.5em; }
  .PageBar .left, .PageBar .right {
    height: 3.5em; } }
