hr.accent {
  border-top: 2px solid #fd8258; }

hr.primary {
  border-top: 2px solid #5C821A; }

.center-children {
  display: flex;
  justify-content: center; }

.left-children {
  display: flex;
  justify-content: flex-start; }

.even-children {
  display: flex;
  justify-content: space-around; }

.space-between-children {
  display: flex;
  justify-content: space-between; }

.vertical-center {
  align-items: center; }

.INNERPAGE {
  white-space: pre-wrap;
  margin-left: 1rem !important;
  margin-right: 1rem !important;
  margin-top: 1rem;
  margin-bottom: 2rem !important;
  min-width: 300px;
  max-width: 600px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; }

.header {
  align-items: center; }

.header > h4 {
  line-height: 2rem; }

.FORM {
  max-width: 500px;
  max-height: 95%;
  min-height: 90%;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 1em;
  margin-right: 1em;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;
  /* NEW, Spec - Firefox, Chrome, Opera */
  flex-direction: column;
  justify-content: space-between;
  overflow-y: auto;
  align-items: center; }

.descr {
  font-size: .8em;
  color: gray; }

.descr em {
  color: #fd8258; }

.form-text {
  -webkit-flex: 6;
  /* Safari 6.1+. iOS 7.1+, BB10 */
  -ms-flex: 6;
  /* IE 10 */
  flex: 6; }

.form-text p {
  line-height: 1.5;
  margin-bottom: 1em;
  padding-left: 2px; }

.button-group {
  -webkit-flex: .5;
  /* Safari 6.1+. iOS 7.1+, BB10 */
  -ms-flex: .5;
  /* IE 10 */
  flex: .5;
  width: 100%;
  max-width: 500px;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;
  /* NEW, Spec - Firefox, Chrome, Opera */
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 3em; }
hr.accent {
  border-top: 2px solid #fd8258; }

hr.primary {
  border-top: 2px solid #5C821A; }

.linkDiv {
  margin-top: 2rem;
  font-size: .7em; }

.linkDiv a:link, .linkDiv a:visited {
  text-decoration: none;
  color: #fd8258;
  font-weight: bold; }

.form-error {
  display: flex;
  justify-content: center;
  vertical-align: center;
  background: #C6D166;
  color: #ffffff;
  line-height: 2em;
  height: 2em;
  border-radius: .5em;
  margin-top: 3em; }

.msg {
  margin-top: 1em; }

.fader-enter {
  opacity: 0; }

.fader-enter.fader-enter-active {
  opacity: 1;
  transition: all 400ms ease-in-out; }

.fader-leave {
  opacity: 1; }

.fader-leave.fader-leave-active {
  opacity: 0;
  transition: all 650ms ease-in-out; }
