.leaflet-container {
  width: 100vw;
  max-height: 88vh; }

.map-container {
  top: 0;
  height: 88vh;
  width: 100vw; }

.leaflet-div-icon .walk-icon {
  background: green; }

.custom .leaflet-popup-tip,
.custom .leaflet-popup-content-wrapper {
  background: white;
  color: black;
  font-weight: bold; }

.popuplink {
  text-decoration: none; }

#snakemap {
  height: 300px;
  width: 100%; }
.center-children {
  display: flex;
  justify-content: center; }

.left-children {
  display: flex;
  justify-content: flex-start; }

.even-children {
  display: flex;
  justify-content: space-around; }

.space-between-children {
  display: flex;
  justify-content: space-between; }

.vertical-center {
  align-items: center; }

.textbox {
  white-space: pre-wrap;
  padding-left: 1rem !important;
  padding-right: 1rem !important;
  padding-top: 1rem;
  padding-bottom: 2rem !important;
  min-width: 300px;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; }

.textbox p {
  margin-top: .75em;
  line-height: 1.5;
  margin-bottom: .75em; }

.header {
  margin-top: 1rem;
  margin-bottom: 1rem; }

hr.accent {
  border-top: 2px solid #fd8258; }

hr.primary {
  border-top: 2px solid #5C821A; }

.CONTENT {
  color: #0F1B07; }

a, a:link {
  color: #fd8258; }

h1, h2, h3, h4, h5, h6 {
  color: #5C821A; }

.walklist {
  background: white;
  min-height: 90vh;
  width: 100%; }

.walk-card {
  padding: 1.5rem;
  max-width: 500px; }

.walk-title {
  font-weight: bold;
  font-size: 1em;
  line-height: 1.5;
  color: #5C821A; }

.walk-city {
  font-size: .8em;
  line-height: 1.4;
  font-style: italic;
  color: #264412;
  margin: 2px 0; }

.walk-start {
  font-size: .8em;
  color: #0F1B07;
  line-height: 1.35; }

.listdescr {
  white-space: pre-line;
  white-space: pre-wrap;
  font-size: 1.2em; }

.noresults {
  min-height: 90vh;
  padding: 3em; }
hr.accent {
  border-top: 2px solid #fd8258; }

hr.primary {
  border-top: 2px solid #5C821A; }

.CONTENT {
  color: #0F1B07; }

a, a:link {
  color: #fd8258; }

h1, h2, h3, h4, h5, h6 {
  color: #5C821A; }

.center-children {
  display: flex;
  justify-content: center; }

.left-children {
  display: flex;
  justify-content: flex-start; }

.even-children {
  display: flex;
  justify-content: space-around; }

.space-between-children {
  display: flex;
  justify-content: space-between; }

.vertical-center {
  align-items: center; }

.textbox {
  white-space: pre-wrap;
  padding-left: 1rem !important;
  padding-right: 1rem !important;
  padding-top: 1rem;
  padding-bottom: 2rem !important;
  min-width: 300px;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; }

.textbox p {
  margin-top: .75em;
  line-height: 1.5;
  margin-bottom: .75em; }

.header {
  margin-top: 1rem;
  margin-bottom: 1rem; }

.byline {
  font-size: .8em;
  color: #264412;
  margin-bottom: 1rem;
  font-style: italic; }

.byline .username {
  color: #fd8258;
  font-weight: bold; }

#walk-title {
  color: #5C821A;
  line-height: 1.45; }

#stops-title {
  margin-top: 1rem;
  margin-bottom: 1rem; }

hr.accent {
  border-top: 2px solid #fd8258;
  margin-top: 1rem;
  margin-bottom: 1rem; }

hr.primary {
  border-top: 2px solid #5C821A;
  border-color: #5C821A;
  margin-top: 1rem;
  margin-bottom: 1rem; }

.btn-group {
  margin-top: 1rem;
  margin-bottom: 1rem; }

.checkbox-label-link {
  color: #5C821A;
  font-size: .9em;
  text-decoration: none;
  line-height: 1.2; }

.checkbox-group {
  display: flex;
  justify-content: flex-end;
  align-items: center; }
