// FROM RIGHT
//initial mount appear but not enter
.pageSlider-right-appear {
    transform: translate3d(100%,0,0);
    -webkit-transform: translate3d(100%,0,0);

    .fade {
      opacity: 0;
    }
}

.pageSlider-right-appear.pageSlider-right-appear-active {
   .fade {
      opacity: 1;
      transition: all 600ms ease-in-out;
   }

   transform: translate3d(0,0,0);
   -webkit-transform: translate3d(0,0,0);
   transition: -webkit-transform 250ms ease-in-out;
   transition: all 250ms ease-in-out;
} 



.pageSlider-right-leave.pageSlider-right-leave-active {
    transform: translate3d(100%,0,0);
   -webkit-transform: translate3d(100%,0,0);
   transition: -webkit-transform 1000ms ease-in-out;
   transition: all 1000ms ease-in-out;
}

// FROM LEFT
.pageSlider-left-appear {
    transform: translate3d(-100%,0,0);
    -webkit-transform: translate3d(-100%,0,0);

    .fade {
      opacity: 0;
    }
}

.pageSlider-left-appear.pageSlider-left-appear-active {
   .fade {
      opacity: 1;
      transition: all 600ms ease-in-out;
   }

   transform: translate3d(0,0,0);
   -webkit-transform: translate3d(0,0,0);
   transition: -webkit-transform 250ms ease-in-out;
   transition: all 250ms ease-in-out;
} 


.pageSlider-left-enter {
    transform: translate3d(-100%,0,0);
    -webkit-transform: translate3d(-100%,0,0);

    .fade {
      opacity: 0;
    }
}

.pageSlider-left-enter.pageSlider-left-enter-active {
   .title {
      opacity: 1;
      transition: all 600ms ease-in-out;
   }

   transform: translate3d(0,0,0);
   -webkit-transform: translate3d(0,0,0);
   transition: -webkit-transform 250ms ease-in-out;
   transition: all 250ms ease-in-out;
}


//FADE IN
.pageSlider-fade-appear {
  opacity: 0;
}

.pageSlider-fade-appear.pageSlider-fade-appear-active {
   opacity: 1;
   transition: all 300ms ease-in-out;
  }

.pageSlider-fade-enter  {
  .fade {
    opacity: 0;
  }

}

.pageSlider-fade-enter.pageSlider-fade-enter-active  {
  .fade {
    opacity: 1;
    transition: all 600ms ease-in-out;
  }
  
} 

.pageSlider-fade-leave  {
  opacity: 1;

}

.pageSlider-fade-leave.pageSlider-fade-leave-active  {
    opacity: 0;
    transition: all 1000ms ease-in-out;
} 


