@import '../../styles/_colors';
@import '../../styles/_spacing';

@media all and (orientation: landscape) {
  .maneuver-container {
    min-height: $content_height_sm;
  }
}
@media all and (orientation: portrait) {
  .maneuver-container {
    height: $drawer_open_content;
  }
}

.maneuver-container {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

.maneuver {
  list-style-type: none;
  font-size: .8em;
  background: $light;
  padding-right: 5%;
  padding-left: 5%;
  padding-top: .5em;
  padding-bottom: .5em;
}

.maneuver-current {
  list-style-type: none;
  font-size: .8em;
  background: lighten($highlight, 10%);
  padding-right: 5%;
  padding-left: 5%;
  padding-top: .5em;
  padding-bottom: .5em;
}

.address {
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 5%;
  padding-right: 5%;
  text-align: center;
  font-size: 1em;
  line-height: 1em;
  display: block;
  font-weight: bold;
  background: $light;
}

.last-stop {
  display: block;
  text-align: center;
  height: 5rem;
  background: $light;
  padding-top: 1rem;
  padding-bottom: 3rem;
  padding-right: 3px;
}