@import '../../styles/_colors';

.FORM {
  max-width: 350px;
  height: 70%;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: hidden;
  // border: 1px solid red;
}

//search
.descr {
  font-size: .8em;
  color: gray;
}

.descr em {
  color: $accent;
}


//create
.form-text {
  width: 350px;
}

.form-text p {
  line-height: 1.5;
  margin-bottom: 1em;
}

.header {
  margin-bottom: 1em;
}

.button-group {
  flex: .5;
  // border: 1px solid green;
  align-items: center;
  display: flex;
  justify-content: space-around;
}



